6) N-Capas (Ejemplos)/N-Tier Data Application/PresentationTier/Connected Services/ServiceReference1/DataEntityTier.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataEntityTier" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataEntityTier" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NorthWindDataSet.CustomersDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="NorthWindDataSet.CustomersDataTable" Namespace="http://schemas.datacontract.org/2004/07/DataEntityTier" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/NorthWindDataSet.xsd" name="namespace" />
      <xs:attribute fixed="CustomersDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NorthWindDataSet.OrdersDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="NorthWindDataSet.OrdersDataTable" Namespace="http://schemas.datacontract.org/2004/07/DataEntityTier" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/NorthWindDataSet.xsd" name="namespace" />
      <xs:attribute fixed="OrdersDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
</xs:schema>